load_module /usr/lib/nginx/modules/ngx_stream_module.so;
events {
    worker_connections 1024;
}
http {
    upstream wordpress {
        #server srv1.example.com;
        #server srv2.example.com;
        #server srv3.example.com;
%{ for index, server in word_press ~}
        server ${server.access_ip_v4};
%{ endfor ~}

    }

    server {
        listen 80;

        location / {
            proxy_pass http://wordpress;
        }
    }
}

stream {
    upstream db {
        server ${db_master}:3306;
        server ${db_slave}:3306 backup;
    }

    server {
        listen 3306;
        proxy_pass db;
        proxy_connect_timeout 1s; # detect failure quickly
    }
}